/* ------------------------------------------------ */
/* ---------------Main Body------------------------ */
/* ------------------------------------------------ */

body {
  background-color: #7dd0b6;

}

/* ------------------------------------------------ */
/* ---------------Main Header---------------------- */
/* ------------------------------------------------ */

.header {
  background-color: #00b3ca;
}

.header img {
  margin-left: 20px;
}
.header a {
  float: right;
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #1d4e89;
  font-size: 2em;
  font-family: fantasy;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* ------------------------------------------------ */
/* ---------------Deck Homepage-------------------- */
/* ------------------------------------------------ */
.container {
  height: 80%;
  width: 40%;
  margin-top: 20%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #A6D2FF;
  border: 2px black solid;
  border-radius: 2em;
  margin: auto;

}
.container h2 {
  font-family: fantasy;
  margin-left: 10%;
  font-size: 2em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container h3 {
  font-family: fantasy;
  margin-left: 10%;
  font-size: 2em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container h4 {
  font-family: fantasy;
  margin-left: 10%;
  font-size: 1.5em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container p {
  margin-left: 10%;
  font-size: 1.5em;
  font-family: fantasy;
  color: #1d4e89;
}

.container ul {
  list-style-type: none;
  margin-left: 10%;
  font-size: 1.5em;
}
.container a {
  text-decoration: none;
  font-family: fantasy;
  color: #1d4e89;
}

.container form {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.container h5 {
  margin-left: 20px;
  color: white;
  font-size: 1.25em;
  margin-bottom: 2px;
  margin-top: 5px;
  font-family: fantasy;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* ------------------------------------------------ */
/* ---------------Card flipping-------------------- */
/* ------------------------------------------------ */
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateX(180deg);
  }

.flip-container, .front, .back {
  margin-left: 10%;
  width: 320px;
  height: 480px;

}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin: 100% 105px;
  position: relative;
}

/* hide back of pane during swap */
.front {
  background-color: #9dc6d8;
}

.back {
  background-color: #00b3ca;
}
.front, .back {

  backface-visibility: hidden;
  border: 5px solid black;
  border-radius: 15px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateX(180deg);
}

.buttons {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30%;

}

