<div class='container'>
  <h2> Statistics </h2>


  <h5> You finished! You guessed a total of <%= @round.guesses.count %> </h5>
  <h5> You guessed <%= @round.guesses.where(times_guessed: 1).count %> Correct on the first try. </h5>
</div>
