<div class='container'>
  <h2> Here is where you can create a deck </h2>

  <form method='post' action='/decks/new'>
    <input type='text' name='deck[title]' placeholder= 'Deck Title'>
    <input type='submit' value='Create Deck'>
  </form>
</div>


