<div class='container'>
  <h2>Sign in</h2>

  <form method="post" action="/login">
    <input type="text" name="user[email]" placeholder="Email"/>
    <input type="password" name="user[password]" placeholder="Password" />
  <input type="submit" value="Phlash in!" />
  </form>
</div>
