<div class='container'>
  <h2> Sign up here! </h2>

  <form method='post' action='/signup'>
    <input type='username' name='user[name]' placeholder="username">
    <input type='email' name='user[email]' placeholder="email@gmail.com">
    <input type='password' name='user[password]' placeholder="password">
    <input type='submit' value='Phlash away'>
  </form>
</div>
