<div class='container'>
  <h3>Your stats </h3>

  <% current_user.rounds.each do |round| %>
    <p> ---------------------------------</p>
    <p>deck title:<%= round.deck.title %></p>
    <p>times guessed:<%= round.guesses.count %></p>
    <p>first time guessed: <%= round.guesses.where(times_guessed: 1).count %></p>

  <% end %>

</div>

